{% extends 'base_bs5.html.twig' %}

{% block title %}S6: Home{% endblock %}

{% block body %}
<div class="container p-4">



    <h1> Forms Demo <small class="text-secondary">Symfony 6.3 | Php 8.2</small>  </h1>


    <h3 class="mt-3">HTML Sanitizer</h3>

    <h5 class="mt-3">Sanitizing HTML from Form Input</h5>

    <a target="_blank"
          href="https://symfony.com/doc/current/html_sanitizer.html#sanitizing-html-from-form-input"
          class="link-underline-primary">
          https://symfony.com/doc/current/html_sanitizer.html#sanitizing-html-from-form-input
        </a>



    <h5 class="mt-3">Sanitizing HTML in controller</h5>


    <h5 class="mt-3">Testing Samples</h5>
    Handy samples to test sanitization:<br>
    <div class="card mt-2" >
        <div class="card-body" >
            <pre><code>{{ sample1 |raw }}</code></pre>
        </div>
    </div>

    <div class="card mt-2" >
        <div class="card-body" >
            <pre><code>{{ sample2 |raw }}</code></pre>
        </div>
    </div>










</div>
{% endblock %}
