{% extends 'base_bs5.html.twig' %}

{% block title %}S6: Home{% endblock %}

{% block body %}
<div class="container p-4">




    <h1>| home |</h1>
    <h2>| Symfony 6.3 | Php 8.2 |</h2>
    <h2>| forms demo |</h2>


</div>
{% endblock %}
