{% extends 'base_bs5.html.twig' %}

{% block title %}S6: Home{% endblock %}

{% block body %}
<div class="container p-4">



    <h1> Forms Demo <small class="text-secondary">Symfony 6.3 | Php 8.2</small>  </h1>


    <h3 class="mt-3">HTML Sanitizer</h3>
    2 forms implemented to test symfony HTML Sanitizer

    <h5 class="mt-3">1. Form Model</h5>
    Sanitizing HTML from Form Input in <em>ActivityRichTextModelSanitizeFormType.php</em><br>
    Enabling the sanitizer in TextType forms, or any form extending this type (such as TextareaType), using the sanitize_html option<br>
    Reference:
    <a target="_blank"
          href="https://symfony.com/doc/current/html_sanitizer.html#sanitizing-html-from-form-input"
          class="link-underline-primary">
          https://symfony.com/doc/current/html_sanitizer.html#sanitizing-html-from-form-input
        </a>
    <br>


    <h5 class="mt-3">2. Form Model Manual</h5>
    Sanitizing HTML in controller<br>
    Here sanitization takes place manually right after submitting the form.<br>

    <h5 class="mt-3">Testing Samples</h5>
    Handy samples to test sanitization:<br>
    <div class="card mt-2" >
        <div class="card-body" >
            <pre><code>{{ sample1 |raw }}</code></pre>
        </div>
    </div>

    <div class="card mt-2" >
        <div class="card-body" >
            <pre><code>{{ sample2 |raw }}</code></pre>
        </div>
    </div>










</div>
{% endblock %}
